<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <link rel="manifest" href="../../manifest.json">
    <script defer type="module" src="../core/script.js"></script>
    <script defer type="module" src="app.js"></script>
    <title>HotHotHot - Domotique</title>
</head>

<body>
    <header id="main-header"></header>

    <h1 id="dialogTitre">Projet HotHotHot : Gestion des Capteurs</h1>

    <div role="tablist">
        <button id="btnTemp" role="tab" aria-selected="true" aria-controls="partieTemprature">Températures</button>
        <button id="btnHist" role="tab" aria-selected="false" aria-controls="partieHistorique">Historique</button>
    </div>

    <section id="partieTemprature" role="tabpanel" aria-labelledby="dialogTitre"
        aria-describedby="dialogTemperature_interieur">

        <div id="bordure_interieur" class="capteur-card bordure-verte" aria-live="assertive">
            <h3>Capteur Intérieur</h3>
            <p id="dialogTemperature_interieur">Température :
                <meter id="temperatureMeter_interieur" min="-10" max="40" low="-1" optimum="20" high="30"></meter>
                <span id="O_firstValue_interieur" data-unit="°C">--</span>°C
            </p>
            <p>Min : <span id="tempMin_interieur">--</span> | Max : <span id="tempMax_interieur">--</span></p>
            <p id="commentaire_interieur" hidden></p>
        </div>

        <hr>

        <div id="bordure_exterieur" class="capteur-card bordure-verte" aria-live="assertive">
            <h3>Capteur Extérieur</h3>
            <p id="dialogTemperature_exterieur">Température :
                <meter id="temperatureMeter_exterieur" min="-10" max="40" low="-1" optimum="20" high="30"></meter>
                <span id="O_firstValue_exterieur" data-unit="°C">--</span>°C
            </p>
            <p>Min : <span id="tempMin_exterieur">--</span> | Max : <span id="tempMax_exterieur">--</span></p>
            <p id="commentaire_exterieur" hidden></p>
        </div>

    </section>

    <section id="partieHistorique" role="tabpanel" aria-labelledby="historiqueTitre" hidden>
        <ul id="historique" aria-live="polite">
            <h2 id="historiqueTitre">Historique des températures :</h2>
        </ul>
    </section>

    <footer id="main-footer"></footer>
</body>

</html>