<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../assets/css/login.css">
    <title>Connexion - HotHotHot</title>
</head>

<body>
    <main class="login-container">
        <div class="login-card">
            <h2>Connexion</h2>
            <p>Accédez à votre interface HotHotHot</p>

            <form id="form-login">
                <div class="form-group">
                    <label for="username">Identifiant</label>
                    <input type="text" id="username" name="username" placeholder="Ex: Bob" required>
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" placeholder="mdp" required>
                </div>

                <button type="submit" class="btn-submit">Se connecter</button>
            </form>

            <div class="login-footer">
                <a href="homepage.html">← Retour à l'accueil</a>
            </div>
        </div>
    </main>

    <script>
        document.getElementById('form-login').addEventListener('submit', (e) => {
            e.preventDefault();
            // On stocke une info pour dire qu'on est connecté
            localStorage.setItem('estConnecte', 'true');
            window.location.href = 'homepage.html';
        });
    </script>
</body>

</html>